default: &default
  adapter: mysql2
  pool: 5
  timeout: 5000
  encoding: utf8
  collation: utf8_unicode_ci
  reconnect: true

kit_subenv_identifier: &kit_subenv
  <<: *default
  host: <%= ENV['KA_KIT_SUBENV_MYSQL_HOST']%>
  username: <%= ENV['KA_KIT_SUBENV_MYSQL_USER']%>
  password: <%= ENV['KA_KIT_SUBENV_MYSQL_PASSWORD']%>

kit_client_identifier: &kit_client
  <<: *default
  host: <%= ENV['KA_KIT_CLIENT_MYSQL_HOST']%>
  username: <%= ENV['KA_KIT_CLIENT_MYSQL_USER']%>
  password: <%= ENV['KA_KIT_CLIENT_MYSQL_PASSWORD']%>

kit_saas_subenv_identifier: &kit_saas_subenv
  <<: *default
  host: <%= ENV['KA_KIT_SAAS_SUBENV_MYSQL_HOST']%>
  username: <%= ENV['KA_KIT_SAAS_SUBENV_MYSQL_USER']%>
  password: <%= ENV['KA_KIT_SAAS_SUBENV_MYSQL_PASSWORD']%>

kit_saas_identifier: &kit_saas
  <<: *default
  host: <%= ENV['KA_KIT_SAAS_MYSQL_HOST']%>
  username: <%= ENV['KA_KIT_SAAS_MYSQL_USER']%>
  password: <%= ENV['KA_KIT_SAAS_MYSQL_PASSWORD']%>

saas_subenv_identifier: &saas_subenv
  <<: *default
  host: <%= ENV['KA_SAAS_SUBENV_MYSQL_HOST']%>
  username: <%= ENV['KA_SAAS_SUBENV_MYSQL_USER']%>
  password: <%= ENV['KA_SAAS_SUBENV_MYSQL_PASSWORD']%>

saas_big_subenv_identifier: &saas_big_subenv
  <<: *default
  host: <%= ENV['KA_SAAS_BIG_SUBENV_MYSQL_HOST']%>
  username: <%= ENV['KA_SAAS_BIG_SUBENV_MYSQL_USER']%>
  password: <%= ENV['KA_SAAS_BIG_SUBENV_MYSQL_PASSWORD']%>

kit_big_subenv_identifier: &kit_big_subenv
  <<: *default
  host: <%= ENV['KA_KIT_BIG_SUBENV_MYSQL_HOST']%>
  username: <%= ENV['KA_KIT_BIG_SUBENV_MYSQL_USER']%>
  password: <%= ENV['KA_KIT_BIG_SUBENV_MYSQL_PASSWORD']%>

kit_saas_big_subenv_identifier: &kit_saas_big_subenv
  <<: *default
  host: <%= ENV['KA_KIT_SAAS_BIG_SUBENV_MYSQL_HOST']%>
  username: <%= ENV['KA_KIT_SAAS_BIG_SUBENV_MYSQL_USER']%>
  password: <%= ENV['KA_KIT_SAAS_BIG_SUBENV_MYSQL_PASSWORD']%>

config_subenv_identifier: &config_subenv
  <<: *default
  host: <%= ENV['KA_CONFIG_SUBENV_MYSQL_HOST']%>
  username: <%= ENV['KA_CONFIG_SUBENV_MYSQL_USER']%>
  password: <%= ENV['KA_CONFIG_SUBENV_MYSQL_PASSWORD']%>

### ACTUAL DB configs start here ###
<%= Rails.env%>:
  <<: *kit_subenv
  database: kit_<%= GlobalConstant::Base.sub_environment_name%>_<%= Rails.env%>

kit_client_<%= Rails.env%>:
  <<: *kit_client
  database: kit_client_<%= Rails.env%>

kit_saas_<%= GlobalConstant::Base.sub_environment_name%>_<%= Rails.env%>:
  <<: *kit_saas_subenv
  database: kit_saas_<%= GlobalConstant::Base.sub_environment_name%>_<%= Rails.env%>

kit_saas_<%= Rails.env%>:
  <<: *kit_saas
  database: kit_saas_<%= Rails.env%>

saas_<%= GlobalConstant::Base.sub_environment_name%>_<%= Rails.env%>:
  <<: *saas_subenv
  database: saas_<%= GlobalConstant::Base.sub_environment_name%>_<%= Rails.env%>

saas_big_<%= GlobalConstant::Base.sub_environment_name%>_<%= Rails.env%>:
  <<: *saas_big_subenv
  database: saas_big_<%= GlobalConstant::Base.sub_environment_name%>_<%= Rails.env%>

kit_saas_big_<%= GlobalConstant::Base.sub_environment_name%>_<%= Rails.env%>:
  <<: *kit_saas_big_subenv
  database: kit_saas_big_<%= GlobalConstant::Base.sub_environment_name%>_<%= Rails.env%>

config_<%= GlobalConstant::Base.sub_environment_name%>_<%= Rails.env%>:
  <<: *config_subenv
  database: config_<%= GlobalConstant::Base.sub_environment_name%>_<%= Rails.env%>
